/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #d09280;
    color: #88c2b3;
    text-shadow: none;
}

::selection {
    background: #d09280;
    color: #88c2b3;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top:2%;
}

.mb {
	margin-bottom:2%;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
   font-family: 'Michroma', sans-serif;
    font-weight: 400;
    font-size: 16px;
  	height: 100%;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #d09280;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #dd9585;
	font-size: 1.5em;
}
.navbar-default .navbar-brand:hover{
	color: #64786C;
}

.navbar-default{
	background-color: transparent;
	border-color: transparent;
	margin-top: 10px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #d09280;
	background-color: transparent;
	border-bottom: 2px solid #88c2b3
}

.navbar-default .navbar-nav > li > a {
	color: #d09280;
}
.navbar-default .navbar-nav > li>a:hover{
	color: #64786C;
}
.navbar-toggle{
	border: none;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
.navbar-inverse{
	border-radius: 0px;
	margin-bottom: 0px;
	border-color: transparent; 
	background-color: #3E5358;
}






/* ==========================================================================
   Wrap Sections
   ========================================================================== */
#ww{
	padding-bottom: 200px;
	padding-top: 250px;
	background: #213840;
	border-color: transparent;
	
}
#headerwrap {
	background:#213840;
	padding-top: 2%;
	padding-top: 8%;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 8%;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}



#footerwrap {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #3E5358;
	border-color: transparent;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background:black;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}
.g{
	-webkit-filter: grayscale(1);

}
.g:hover{
	-webkit-filter: grayscale(0);
	-webkit-filter: contrast(1.2) ;
}
.bd{
	border-bottom:#D5F0EB 1.5px solid; 
}
.ah5{
	font-family: '微軟正黑體';
	color: #8CC9BA;
}
.ah6{
	font-family: '微軟正黑體';
}
.svg-container {
display: inline-block;
position: relative;
width: 100%;
padding-bottom: 65%;
vertical-align: middle;
overflow: hidden;
}
.svg-content {
display: inline-block;
position: absolute;
top: 0;
left: 0;
}
#fuckyou{
	background-color: #213840;
	border-color: transparent;
	padding-bottom: 40px;
	font-size: 25px;
}
.glyphicon-phone{
color:#dd9585 ;
}
.glyphicon{
	font-size: 40px;
}
.pcolor{
	color: #dd9585;
}